@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.loading-container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 10vh;
  height: 100px; /* Adjust height as needed */
}

.rest-menu-page {
  max-width: 80%;
  margin: 0 auto;
}

#menu-pape-title {
  margin-top: 30px;
  font-size: 4rem;
  text-align: center;
  font-family: "Playwrite IN", serif;
  color: tomato;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #3498db; /* Customize color */
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
