@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.rest-menu-page {
  max-width: 80%;
  margin: 0 auto;
}

#menu-pape-title {
  margin-top: 30px;
  font-size: 3rem;
  text-align: center;
  font-family: "Playwrite IN", serif;
  color: tomato;
}

@media (max-width: 768px) {
  .rest-menu-page {
    min-width: 193vw;
    padding: 5vw;
    margin: 0 auto;
  }
  #menu-pape-title {
    font-size: 2.5rem;
    text-align: center;
  }
}
